<a href="https://colab.research.google.com/github/RAIHANRABBY/studymart/blob/main/cardio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

from google.colab import files
 
 
uploaded = files.upload()

Saving cardio_train.csv to cardio_train.csv

In [3]:
df=pd.read_csv('cardio_train.csv',sep=';')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df.shape

(70000, 13)

In [5]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
x=df.drop('cardio',axis=1)
y=df['cardio']

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.33,random_state=1)

In [9]:
ran=RandomForestClassifier(n_estimators=1000)

In [10]:
xtest

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
6670,9510,16099,1,153,93.0,140,90,1,1,0,0,1
49567,70773,14437,1,157,89.0,120,80,1,1,0,0,1
50796,72486,19839,1,165,66.0,150,90,1,1,0,0,1
22310,31877,18050,2,176,88.0,160,100,2,2,1,1,1
54037,77086,16819,2,165,78.0,140,90,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4566,6464,15993,1,154,74.0,100,60,1,2,0,0,1
48022,68571,19791,1,169,66.0,120,80,3,3,0,0,0
51633,73638,21076,1,165,70.0,140,90,1,1,0,0,0
13530,19316,21735,1,170,86.0,130,90,3,1,0,0,1
36998,52863,14549,1,163,74.0,110,70,1,1,0,0,1

In [11]:
ran.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=1000)

In [12]:
ran.score(xtest,ytest)

0.728008658008658

In [13]:
from sklearn.feature_selection import f_classif,SelectKBest

In [14]:
f_select=SelectKBest(score_func=f_classif)

In [15]:
f_select.fit(x,y)

SelectKBest()

In [16]:
fineFeatures=pd.DataFrame(f_select.scores_,columns=['feature Score'])
fineFeatures

    feature Score
0        1.010461
1     4209.007957
2        4.603641
3        8.197397
4     2388.777887
5      208.339524
6      303.629011
7     3599.361137
8      562.772977
9       16.790541
10       3.761355
11      89.091494

In [17]:
colName=pd.DataFrame(x.columns,columns=['Col Name'])

In [18]:
colName

       Col Name
0            id
1           age
2        gender
3        height
4        weight
5         ap_hi
6         ap_lo
7   cholesterol
8          gluc
9         smoke
10         alco
11       active

In [19]:
FinalFeatureScores=pd.concat([colName,fineFeatures],axis=1)

In [20]:
sevenMostFeature=FinalFeatureScores.nlargest(7,'feature Score')
sevenMostFeature

       Col Name  feature Score
1           age    4209.007957
7   cholesterol    3599.361137
4        weight    2388.777887
8          gluc     562.772977
6         ap_lo     303.629011
5         ap_hi     208.339524
11       active      89.091494

In [21]:
X=x[list(sevenMostFeature['Col Name'])]

In [22]:
X1train,X1test,Y1train,Y1test=train_test_split(X,y,test_size=.30,random_state=10)

In [23]:
ran1=RandomForestClassifier(n_estimators=1000)

In [24]:
ran1.fit(X1train,Y1train)

RandomForestClassifier(n_estimators=1000)

In [25]:
ran1.score(X1test,Y1test)

0.6877142857142857

In [26]:
eightMostFeature=FinalFeatureScores.nlargest(8,'feature Score')
eightMostFeature

       Col Name  feature Score
1           age    4209.007957
7   cholesterol    3599.361137
4        weight    2388.777887
8          gluc     562.772977
6         ap_lo     303.629011
5         ap_hi     208.339524
11       active      89.091494
9         smoke      16.790541

In [27]:
X=x[list(eightMostFeature['Col Name'])]

In [28]:
X2train,X2test,Y2train,Y2test=train_test_split(X,y,test_size=.30,random_state=45)

In [29]:
ran2=RandomForestClassifier(n_estimators=100)

In [30]:
ran2.fit(X2train,Y2train)

RandomForestClassifier()

In [31]:
ran2.score(X2test,Y2test)

0.691

In [32]:
ran.score(xtest,ytest)

0.728008658008658

In [33]:
FinalFeatureScores.nlargest(13,'feature Score')

       Col Name  feature Score
1           age    4209.007957
7   cholesterol    3599.361137
4        weight    2388.777887
8          gluc     562.772977
6         ap_lo     303.629011
5         ap_hi     208.339524
11       active      89.091494
9         smoke      16.790541
3        height       8.197397
2        gender       4.603641
10         alco       3.761355
0            id       1.010461

In [34]:
XF=x.drop('id',axis=1)

In [35]:
x0train,x0test,y0train,y0test=train_test_split(x,y,test_size=.25,random_state=100)

In [36]:
rand=RandomForestClassifier(n_estimators=40)

In [37]:
rand.fit(x0train,y0train)

RandomForestClassifier(n_estimators=40)

In [38]:
rand.score(x0test,y0test)

0.7233142857142857