In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('cardio_train.csv',sep=';')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
df.shape

(70000, 13)

In [6]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
x=df.drop('cardio',axis=1)
y=df['cardio']

In [29]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.33,random_state=1)

In [30]:
ran=RandomForestClassifier(n_estimators=1000)

In [31]:
xtest

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
6670,9510,16099,1,153,93.0,140,90,1,1,0,0,1
49567,70773,14437,1,157,89.0,120,80,1,1,0,0,1
50796,72486,19839,1,165,66.0,150,90,1,1,0,0,1
22310,31877,18050,2,176,88.0,160,100,2,2,1,1,1
54037,77086,16819,2,165,78.0,140,90,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4566,6464,15993,1,154,74.0,100,60,1,2,0,0,1
48022,68571,19791,1,169,66.0,120,80,3,3,0,0,0
51633,73638,21076,1,165,70.0,140,90,1,1,0,0,0
13530,19316,21735,1,170,86.0,130,90,3,1,0,0,1
36998,52863,14549,1,163,74.0,110,70,1,1,0,0,1

In [32]:
ran.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [33]:
ran.score(xtest,ytest)

0.7283549783549783

In [34]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

# Out Layer remover

In [ ]:

import seaborn as sns
import scipy as scp

In [42]:
df.shape

(70000, 13)

In [43]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [ ]:
sns.boxplot(df.age,df.gender)

FileNotFoundError: [Errno 2] No such file or directory: 'out.gif'

In [47]:
sns.h

AttributeError: module 'seaborn' has no attribute 'histplot'