In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Student_drop_out_system.csv')
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,No
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,Yes
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes

In [3]:
import random as r

In [4]:
df['Class Label']=r.choices(['Yes','No'],weights=(8,6),k=248)

In [5]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,Yes
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,No
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes

In [8]:
df.to_csv('test_sdos.csv')

In [6]:
df_old=pd.read_csv('Student_drop_out_system.csv')

In [7]:
df_old

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,No
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,Yes
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,13-15 years,female,Native Language,Private sector,Home maker,Four or more,primary,secondary,6-7 km,Walk,...,34,66,86,59,86,85,250000,Yes,3 hours,No
244,10-13 years,male,Bangla,Public sector,Home maker,Three Children,primary,secondary,6-7 km,School Bus/Bus,...,80,88,70,27,69,31,800000,Yes,2 hours,No
245,10-13 years,female,Native Language,Private sector,Business,Three Children,primary,None,0-0.5 km,Walk,...,31,85,28,38,31,52,200000,Yes,1 hours,Yes
246,13-15 years,female,Bangla,Private sector,Home maker,None,secondary,secondary,1-2 km,School Bus/Bus,...,56,80,42,67,76,30,350000,Yes,2 hours,No
247,10-13 years,female,Native Language,Private sector,Home maker,Three Children,secondary,None,1-2 km,School Bus/Bus,...,75,79,87,87,55,45,850000,Yes,3 hours,No

In [8]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,Yes
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,No
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes

In [9]:
add_df=df.iloc[:25,:]
add_df

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,Yes
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,No
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes
5,10-13 years,male,Bangla,Unemployed,Home maker,None,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,Walk,...,24,43,49,56,60,47,180000,No,1 hours,No
6,10-13 years,female,Native Language,Private sector,Home maker,None,secondary,secondary,0.5-1 km,Bicycle/motorbike,...,86,79,59,63,26,62,500000,Yes,2 hours,No
7,13-15 years,female,Bangla,Worker,Home maker,Four or more,Masters/ Equivalent and above,Honors/Equivalent,0.5-1 km,Walk,...,61,24,67,75,66,56,250000,Yes,2 hours,No
8,10-13 years,male,Native Language,Private sector,Agriculture,Two Children,primary,Honors/Equivalent,1-2 km,Bicycle/motorbike,...,20,62,27,82,29,30,180000,No,1 hours,Yes
9,10-13 years,female,Native Language,Private sector,Home maker,Three Children,secondary,secondary,1-2 km,Rickshaw,...,35,63,53,68,92,54,700000,Yes,2 hours,Yes
10,13-15 years,male,Native Language,Worker,Private sector,Two Children,Honors/ Equivalent,secondary,0-0.5 km,Bicycle/motorbike,...,21,92,43,71,76,71,400000,Yes,3 hours,Yes
11,13-15 years,male,Bangla,Private sector,Home maker,Three Children,primary,secondary,0-0.5 km,Rickshaw,...,40,53,73,87,84,44,500000,Yes,2 hours,No
12,15-18 years,male,Native Language,Agriculture,Home maker,None,Honors/ Equivalent,secondary,4-5 km,Rickshaw,...,90,25,25,90,80,22,250000,Yes,2 hours,No
13,13-15 years,female,English,Worker,Home maker,None,secondary,secondary,6-7 km,School Bus/Bus,...,52,81,50,23,72,85,900000,Yes,3 hours,Yes
14,10-13 years,female,Native Language,Private sector,Home maker,Two Children,Masters/ Equivalent and above,secondary,6-7 km,Walk,...,78,75,86,75,37,88,200000,Yes,3 hours,Yes
15,10-13 years,female,Native Language,Immigrant,Business,Three Children,primary,secondary,0-0.5 km,School Bus/Bus,...,67,45,49,62,70,89,800000,Yes,3 hours,Yes
16,13-15 years,male,Bangla,Agriculture,Home maker,Three Children,primary,secondary,0-0.5 km,Rickshaw,...,48,77,32,30,87,87,700000,Yes,2 hours,No
17,10-13 years,male,Native Language,Private sector,Home maker,None,primary,secondary,>7 km,Bicycle/motorbike,...,36,41,78,56,22,27,300000,Yes,1 hours,Yes
18,13-15 years,female,Native Language,Agriculture,Home maker,None,primary,secondary,0-0.5 km,Bicycle/motorbike,...,87,38,28,28,36,47,180000,No,1 hours,Yes
19,10-13 years,female,Native Language,Private sector,Home maker,Four or more,primary,secondary,4-5 km,School Bus/Bus,...,65,44,83,41,29,87,200000,Yes,2 hours,No
20,13-15 years,female,Native Language,Business,Home maker,None,primary,None,1-2 km,Walk,...,88,44,48,65,47,60,550000,Yes,2 hours,Yes
21,15-18 years,male,Native Language,Immigrant,Home maker,Two Children,Honors/ Equivalent,secondary,0-0.5 km,Private car,...,53,41,40,71,57,87,100000,No,2 hours,No
22,10-13 years,male,Bangla,Unemployed,Home maker,None,secondary,None,6-7 km,Walk,...,69,49,49,88,26,91,250000,Yes,2 hours,No
23,15-18 years,male,Bangla,Private sector,Home maker,Four or more,Honors/ Equivalent,None,6-7 km,Walk,...,66,88,28,87,28,81,900000,Yes,2 hours,Yes
24,above 18 years,female,Bangla,Worker,Business,Three Children,secondary,secondary,4-5 km,Bicycle/motorbike,...,27,45,71,51,28,56,250000,Yes,2 hours,No

In [10]:
add_df.shape

(25, 28)

In [11]:
df_old.shape

(248, 28)

In [12]:
final_df=df_old.append(add_df)

In [13]:
final_df.shape

(273, 28)

In [15]:
final_df['Home Language']

0     Native Language
1              Bangla
2     Native Language
3              Bangla
4     Native Language
           ...
20    Native Language
21    Native Language
22             Bangla
23             Bangla
24             Bangla
Name: Home Language, Length: 273, dtype: object

In [35]:
lang=r.choices(['Bangla','English'],weights=(9,.9),k=273)

In [36]:
lang.count('Bangla')

250

In [37]:
lang.count('English')

23

In [39]:
final_df['Home Language']=lang

In [40]:
final_df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Bangla,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Bangla,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,No
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,Yes
4,10-13 years,male,Bangla,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes

In [41]:
final_df.to_csv('Improved2SDOS.csv')