In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('online.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [5]:
df.shape

(50, 5)

In [8]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [9]:
y=df.Profit
x=df.drop('Profit',axis=1)

## one hot encoding

In [12]:
city=pd.get_dummies(x['Area'],drop_first=True)

In [17]:
x.drop('Area',axis=1,inplace=True)

In [22]:
x=pd.concat([x,city],axis=1)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
linear=LinearRegression()

In [28]:
linear.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
pred=linear.predict(xtest)

## r squared root

In [31]:
from sklearn.metrics import r2_score

In [32]:
r2_score(pred,ytest)

0.8582645198259703